* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: rgb(233, 233, 233);
}
.sidebar-container {
    background-color: #1c8deb;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    grid-template-rows: 100px 1fr 1fr;
    padding-top: 100px;
    height: 100%;
    padding-bottom: 200px;
}
.sidebar-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    padding-bottom: 100px;
    align-items: center;
}
#first-link {
    font-size: 36px;
   
}
#dashboard-logo {
    height: 75px;
    width: auto;
    
}
.sidebar-logo {
    height: 50px;
    width: auto;
    place-self: center;
}
.content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 1fr;
    padding-bottom: 200px;
}
.content-header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 10px 0 10px rgba(10, 10, 10, 0.2);
}
#header-top {
    display: grid;
    column-gap: 1em;
    align-items: center;
    padding-left: 100px;
    padding-top: 50px;
    grid-template-columns: 50px 3fr 75px 100px 1fr;
    grid-template-rows: 1fr;
}

#header-bottom {
    display: grid;
    align-items: center;
    padding-left: 100px;
    grid-template-columns: 125px 3fr .65fr .65fr .65fr;
    grid-template-rows: 200px;
}
#search-icon {
    height: 40px;
    width: auto;
}
#search-bar {
    width: 100%;
    height: 50px;
    background-color: rgb(219, 219, 219);
    border-radius: 50em;
}
#notifications {
    height: 40px;
    width: auto;
}
.profile-thumbnail {
    height: 100px;
    width: auto;
    background-color: yellow;
    border-radius: 50em;
}
#username {
    font-size: 36px;
    font-weight: bolder;
}
#new,
#upload,
#share {
    height: 2em;
    width: 6em;
    background-color: #1c8deb;
    color: white;
    font-size: 2em;
    border-radius: 50em;
    border: 0;
    font-weight: bolder;
    text-align: center;
    
}
#greeting {
    font-size: 24px;
    font-weight: bolder;
}

.content-body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100px 1fr;
    padding: 50px 20px 0 50px;
    column-gap: 30px;
}

#projects-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 300px);
    column-gap: 30px;
    row-gap: 30px;
}

.project-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    background-image: linear-gradient(to right, #ffaa2c 13px, #fdfdfd 15px);
    font-size: 30px;
    padding: 10px 40px 30px 40px;
    border-radius: 1em;
    box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.2);

}
#projects-header {
    grid-column: 1 / 2;
    grid-row: 1 / span 1;
    font-size: 40px;
    font-weight: bolder;
}
.card-title {
    font-size: 36px;
    font-weight: bolder;
}

#announcement-header {
    grid-column: 2 / 3;
    grid-row: 1 / span 1;
    font-size: 40px;
    font-weight: bolder;
}
.card-icons {
    height: 50px;
    width: auto;
}
.icon-wrapper {
    display: flex;
    gap: 20px;
    place-self: end;
}
.announcement-title {
    font-size: 32px;
    font-weight: bolder;
}
.announcement-content {
    font-size: 22px;
}
.announcement-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 80px;
    background-color: #fdfdfd;
    border-radius: 1em;
    padding: 0 20px 0 20px;
    box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.2);
}
.announcement:nth-child(-n + 2) {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.announcement-wrapper:first-child {
    padding-top: 60px;
}
#trending-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 100px);
    background-color: #fdfdfd;
    border-radius: 1em;
    box-shadow: 5px 5px 10px rgba(10, 10, 10, 0.2);
    padding: 20px;
    font-size: 24px;
    row-gap: 20px;
    margin-top: 20px;
}
.trending-username {
    font-weight: bolder;
}
.trending-bio {
    font-weight: 300;
    color: rgb(105, 105, 105);
}
#trending-title {
    font-size: 32px;
    font-weight: bolder;
}
.trending-wrapper {
    padding-top: 40px;
}