* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: lightgray;
}
.sidebar-container {
    background-color: #1c8deb;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    grid-template-rows: 100px 1fr 1fr;
    padding-top: 100px;
    
}
.sidebar-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    padding-bottom: 100px;
    align-items: center;
}
#first-link {
    font-size: 36px;
   
}
#dashboard-logo {
    height: 75px;
    width: auto;
    
}
.sidebar-logo {
    height: 50px;
    width: auto;
    place-self: center;
}
.content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
}
.content-header {
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 3fr;
}
#header-top {
    display: grid;
    column-gap: 1em;
    align-items: center;
    padding-left: 100px;
    padding-top: 50px;
    grid-template-columns: 50px 3fr 75px 100px 1fr;
    grid-template-rows: 1fr;
}

#header-bottom {
    display: grid;
    align-items: center;
    padding-left: 100px;
    grid-template-columns: 125px 3fr .65fr .65fr .65fr;
    grid-template-rows: 200px;
}
#search-icon {
    height: 40px;
    width: auto;
}
#search-bar {
    width: 100%;
    height: 50%;
    
    background-color: rgb(189, 187, 187);
    border-radius: 50em;
}
#notifications {
    height: 40px;
    width: auto;
}
.profile-thumbnail {
    height: 100px;
    width: auto;
    background-color: yellow;
    border-radius: 50em;
}
#username {
    font-size: 36px;
    font-weight: bolder;
}
#new,
#upload,
#share {
    height: 2em;
    width: 6em;
    background-color: #1c8deb;
    color: white;
    font-size: 2em;
    border-radius: 50em;
    border: 0;
    font-weight: bolder;
    text-align: center;
    
}
#greeting {
    font-size: 24px;
    font-weight: bolder;
}
span {
    font-size: 46px;
}